* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(40%, 40%, 60%);
    font-family: 'Inconsolata', helvetica, sans-serif;
    line-height: 1.3em;
    min-width: 1000px;
}

p {
	margin-top: 2em;
}

ul {
	margin-top: 1em;
	margin-left: 3em;
}

a, .link {
    color: rgb(30%, 30%, 70%);
    text-decoration: none;
    cursor: pointer;
}

a:hover, .link:hover {
    text-decoration: underline;
}

#application {
    position: relative;
    min-height: 100%;
    background-color: rgb(238, 206, 158);
    border-bottom: solid black 1px;
}

.error {
    position: relative;
    z-index: 1;
    width: 500px;
    padding: 30px 50px;
    background-color: rgb(238, 206, 158);
    margin: 30px auto; 
    text-align: justify;
    border: solid black 1px;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    white-space: nowrap;
    color: white;
    text-shadow: black 0 0 4px;
}

menu {
    list-style: none;
}

#controls a, #controls .link {
    color: white;
}

#controls li {
	float: left;
}

#controls li.right {
    float: right;
}

#controls > li > div:first-child {
	height: 1.2em;
	line-height: 1.2em;
	padding: 5px 10px;
    background-color: rgb(40%, 40%, 60%);
	border-style: none none solid none;
    border-width: 1px;
    border-color: black;
}

#controls > li.selected > div:first-child {
    background-color: rgb(115, 193, 234);
    padding: 5px 9px;
    border-style: none solid solid solid;
}

#controls .dropdown {
    background-color: rgb(40%, 40%, 60%);
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: black;
    position: absolute;
    left: -999em;
}

#controls li.selected .dropdown {
    left: auto;
}

#controls .dropdown li {
    float: none;
}

#controls .dropdown .menuitem {
    padding: 5px 10px 5px 15px;
    border-style: none none dashed none;
    border-width: 1px;
    border-color: lightgray;
}

#controls .dropdown .menuitem.last {
	border-style: none;
}

#debugger {
	background: beige;
	padding: 10px;
	border: black solid 1px;
}

#documentation {
    padding: 50px 0;
}


.content {
    width: 500px;
    padding: 30px 50px;
    background-color: rgb(238, 206, 158);
    margin: 30px auto; 
    overflow: auto; 
    text-align: justify;
    border: solid black 1px;
}

.content h1 {
    text-align: right;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.content img {
    border-style: solid; 
    border-width: 1px; 
    border-color: black;
}

.content img.float-left {
    display: block; 
    float: left; 
    margin-right: 20px;
}

table {
	margin: 15px 0;
    border-collapse: collapse;
    background-color: rgb(237, 212, 175);
}

tr.odd {
	background-color: rgb(164, 164, 202);
}

td, th {
	padding: 3px 10px;
	font-weight: normal;
	border-style: none solid;
	border-width: 1px;
	border-color: black;
}

tr.last td {
	border-style: none solid solid solid;
	border-width: 1px;
	border-color: black;
}

th {
	border: solid 1px black;
}

form {
    margin-bottom: 5px;
}

form p {
    margin-top: 5px;
}

label {
    display: inline-block;
    font-size: 80%;
    margin-left: 10px;
}

label.invalid {
    color: red;
}

input {
    display: block;
}

input[type="checkbox"] { 
    display: inline;
    margin-right: 5px;
}


.right {
	float: right;
}
